<!--<div class="ascii" aria-hidden="true">
<pre class="ascii-paper">          ....::
      .........::-=+
     .........:::-==+
   ..........:::--=+*#%
   ........:::--==++*#%
  .......:::---==+**#%%%
  :::::::---===++*#%%%%%
  -------===++**##%%%%%%
   ======+++**#%%%%%%%%
   *+++***###%%%%%%%%%%
     %#%%%%%%%%%%%%%%
      %%%%%%%%%%%%%%
          %%%%%%</pre>
<pre class="ascii-ink">          @@%%##
      @@@@@@@%%##*+=
     @@@@@@@%%###*++=
   @@@@@@@%%%###**+=-:.
   @@@@%%%%###**++==-:.
  %%%%%%%###***++=--:...
  #######***+++==-:.....
  *******+++==--::......
   ++++++===--:........
   -===---:::..........
     .:..............
      ..............
          ......</pre>
</div>-->
